<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="first-slide" src="assets/images/banner-seo.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <!--<h1>Example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1>Internet Marketing</h1>
  <p class="lead">Refers to advertising/marketing. We lead you to Top and make you Visible, you gain the Traffic and Convert to customers.</p>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/seo.png" alt="Generic placeholder image" width="140" height="140">
      <h2>SEO Internet Marketing Services</h2>
      <p>We plan and cater white-hat SEO techniques to optmize your online presence on the web and turn visitors to customers.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/optimization.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Social Media Optimization</h2>
      <p>We socialize your visibility on different social platforms and help build awareness of your brand and its product/services.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/ppc.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Pay Per Click Advertising</h2>
      <p>We help you in getting your PPC campaign cost effective which in turn gives you maximum clicks and expected results.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
