<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>Contact us</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>Contact Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="contact-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="contact-head">
          <h2 class="small-text">Get in Touch</h2>
        </div>
        <ul class="list-creative">
          <li>
            <dl class="list-terms-medium list-terms-medium_secondary">
              <dt>Address</dt>
              <dd><a href="#">D-301, Vaidehi Residency, Gandhinagar, Gujarat-382016</a></dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-medium">
              <dt>Phones</dt>
              <dd>
                <ul class="list-comma">
                  <li><a href="callto:#">+91-972-793-0925 </a></li>
                  <li><a href="callto:#">+1-973-615-3497</a></li>
                </ul>
              </dd>
            </dl>
          </li>
          <li>
            <dl class="list-terms-medium list-terms-medium_tertiary">
              <dt>E-mail</dt>
              <dd>
                <ul class="list-comma">
                  <li><a href="mailto:#">mail@xwhizz.com</a></li>
                  <li><a href="mailto:#">info@xwhizz.com</a></li>
                </ul>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <div class="contact-head">
          <h2 class="small-text">Contact Form</h2>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" [hidden]="!showLabel">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" click="dismissLabel()">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Well done! You successfully submitted request.</strong>
        </div>
        <form class="contact-form" #contactUsForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="range range-sm-bottom range-20">
            <div class="col-sm-6">
              <div class="form-wrap">
                <input class="form-control form-control-has-validation" placeholder="Name" id="name" [(ngModel)]="model.name" name="name"
                       #name="ngModel" name="name" required="" type="text"><span class="form-validation">The text field is required.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-wrap">
                <input class="form-control form-control-has-validation" placeholder="Phone" id="telephone" [(ngModel)]="model.telephone" name="telephone" #telephone="ngModel" required="" type="text"><span class="form-validation">Only numbers are required</span>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-wrap">
                <textarea class="form-control form-control-has-validation" placeholder="Message" required="" id="notes" [(ngModel)]="model.notes" name="notes" #notes="ngModel"></textarea><span class="form-validation">The text field is required.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-wrap">
                <input class="form-control form-control-has-validation" placeholder="Email" id="email" placeholder="Email Address" required
                       [(ngModel)]="model.email" name="email" #email="ngModel" required="" type="email"><span class="form-validation">The text field is required.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <button class="button btn-block button-secondary" type="submit" [disabled]="!contactUsForm.form.valid">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
