<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="first-slide" src="assets/images/about-us-banner-1.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <!--<h1>Example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container about-us">
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">About us</h1>
      <p class="lead blog-description">Xwhizz is a professional software, website development company based in India
        that endeavor on highly proficient, timely delivered and cost effective software, website development services.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <!--<h2 class="blog-post-title">Who we are</h2>-->
          <p>We are <strong>highly experienced</strong> in offering offshore software development and project management.</p>
          <hr>
          <p>Some of our services include <strong>Strategic Technology Consulting, System Integration &amp; Software Development</strong>, Enterprise Resource Planning (ERP), Client server application, E-commerce software development, Content management development, E-governance software, Web application development, Database application development.</p>
          <blockquote>
            <p>In a short span of time <em>Xwhizz Solution</em> has developed business relationship with a reputed clientele all over the India and outside india. Today, we provide services, support and solutions to clients in various Industry verticals.</p>
          </blockquote>
          <p>A few from the industry verticals that we work closely are cutting edge technology companies, renown hospitality institutions, retail coupon redemption services, financial sectors.</p>

          <h3>Strategic Technology Consulting</h3>
          <p>We understand that technology has to keep and be in complete consonance with the competitive strategies of our clients and businesses we service.
            In tune with this principle, we have worked closely with our clients in understanding their business processes and the challenges they face in the data driven information age.
          </p>
          <blockquote>
          <p>
            Deriving business intelligence from business data is as  enormous challenge which our clients face.
            By developing custom made solution for each Industry we have helped our clients reap the fullest rewards of next generation software technologies.
            Our team of business strategy consultant generates new data structures that match the demands of business plans with a set of the latest information tools.
          </p>
          </blockquote>
          <p>
            Our team has worked closely with technology management teams in leading consulting companies over the world.
            Our teams of core software specialist have gained invaluable experience in the design of new models of data driven business strategies in major telecom, finance, Manufacturing and Banking companies.
          </p>

          <h3>E-Commerce</h3>
          <p>Our efforts focus on concept, design, development and re-engineering of web businesses. We are working closely with software majors on new applications for user demographics to the history of purchase decisions with instant comparisons from distributed databases.
          </p>
          <blockquote>
            <p>
              Efforts on to design and develop complex data structures and tools that would be helpful for companies to track 2 and analyze purchase decisions instantly for marketing intelligence systems. We are also working closely with our clients to help them leverage the intranet design along with
            </p>
          </blockquote>
        </div>
      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div>
 </div>
