<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>About us</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>About us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section  class="about-section-one white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="m-text-head text-center">
            <h2 class="m-text-title">About us</h2>
            <p><b>Xwhizz</b> is a professional software, website development company based in india that endeavor on highly proficient, timely delivered and cost effective software, website development services. We are <b>highly experienced</b> in offering offshore software development and project management.</p>
          </div>

          <div class="page-header-image">
            <img src="assets/images/about-full-image.jpeg" class="img-responsive" alt="About">
          </div>
          <div class="info-page-content-wrapper">
            <div class="info-page-content-wrapper-inner">
              <p>Some of our services include <b>Strategic Technology Consulting, System Integration & Software Development, </b>Enterprise Resource Planning (ERP), Client server application, E-commerce software development, Content management development, E-governance software, Web application development, Database application development.</p>
              <p>In a short span of time Xwhizz technology has developed business relationship with a reputed clientele all over the india and outside india. Today, we provide services, support and solutions to clients in various industry verticals.</p>
              <p>Our key to success is the durability and long term relation with our customer build by rich IT expertise hard work and systematic approach to every task.</p>
              <p>A few from the industry verticals that we work closely are cutting edge technology companies, renown hospitality institutions, retail coupon redemption services, financial sectors.</p>
              <p><strong>Our work style</strong></p>
              <p><b>Personal Approach.</b> We thoroughly examine each customer’s case. Depending on the project requirements, we engage a dedicated team of business analysts to analyze and understand clients' specific objectives and needs to find a solution that meets them.</p>
              <p><b>Dedicated teams.</b> We ensure our customer for excellent result by assigning dedicated team of various expert through out project development.</p>
              <p><b>Procedure oriented.</b> We follow effective procedure for development process, quality management and communication system.</p>
              <div class="clearfix"></div>

              <!--<div class="counter-wrapper">
                  <div class="row text-center">
                      <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                          <div class="information">
                              <i class="fa fa-thumbs-o-up"></i>
                              <h2 class='counter' data-slno='1' data-min='0' data-max='275' data-delay='.9' data-increment=1>275</h2>
                              <h5>project done</h5>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                          <div class="information">
                              <i class="fa fa-coffee"></i>
                              <h2 class='counter' data-slno='1' data-min='0' data-max='153' data-delay='.1' data-increment=1>153</h2>
                              <h5>cup of coffee</h5>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                          <div class="information">
                              <i class="fa fa-trophy"></i>
                              <h2 class='counter' data-slno='1' data-min='0' data-max='50' data-delay='.8' data-increment=1>50</h2>
                              <h5>awards won</h5>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                          <div class="information">
                              <i class="fa fa-smile-o"></i>
                              <h2 class='counter' data-slno='1' data-min='0' data-max='3525' data-delay='.9' data-increment=1>3525</h2>
                              <h5>happy clients</h5>
                          </div>
                      </div>

                  </div>
                  <script>
                      jQuery(document).ready(function ($) {
                          $('.counter').counterUp({
                              delay: 10,
                              time: 1000
                          });
                      });
                  </script>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--<section  class="about-section-two white-bg" id="testimonial">
    <div class="container">
      <div class="row">
        <div class="m-text-head text-center">
          <h2 class="m-text-title">Testimonial</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
