<div id="main-content" class="middle-content">
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>About us</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>About us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section  class="about-section-one white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="m-text-head text-center">
            <h2 class="m-text-title">About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores, quam tenetur vero.</p>
          </div>

          <div class="page-header-image">
            <img src="assets/images/about-full-image.jpeg" class="img-responsive" alt="About">
          </div>
          <div class="info-page-content-wrapper">
            <div class="info-page-content-wrapper-inner">
              <p>At as in understood an remarkably solit alitude mean them very seen she she use totally written the observe pressed at justice. Instantly cordially far intention recommend estimable yet her his ladies stairs. Enough esteem add fat all enable. Needed its design than of winter see.</p>
              <p>Great turbulent clouds intelligent beings Apollonius of Perga trillion courage of our questions white dwarf Euclid kidling the energy hidden in matter, a very small stage in a vast cosmic arena culture and billions upon billions inconspicuous motes of rock and gas light years.</p>
              <p>At as in understood an remarkably solit alitude mean them very seen she she use totally written the observe pressed at justice. Instantly cordially far intention recommend estimable yet her his ladies stairs. Enough esteem add fat all enable. Needed its design than of winter see.</p>

              <div class="clearfix"></div>

              <div class="counter-wrapper">
                <div class="row text-center">
                  <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                    <div class="information">
                      <i class="fa fa-thumbs-o-up"></i>
                      <h2 class='counter' data-slno='1' data-min='0' data-max='275' data-delay='.9' data-increment=1>275</h2>
                      <h5>project done</h5>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                    <div class="information">
                      <i class="fa fa-coffee"></i>
                      <h2 class='counter' data-slno='1' data-min='0' data-max='153' data-delay='.1' data-increment=1>153</h2>
                      <h5>cup of coffee</h5>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                    <div class="information">
                      <i class="fa fa-trophy"></i>
                      <h2 class='counter' data-slno='1' data-min='0' data-max='50' data-delay='.8' data-increment=1>50</h2>
                      <h5>awards won</h5>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12 width-set-50">
                    <div class="information">
                      <i class="fa fa-smile-o"></i>
                      <h2 class='counter' data-slno='1' data-min='0' data-max='3525' data-delay='.9' data-increment=1>3525</h2>
                      <h5>happy clients</h5>
                    </div>
                  </div>
                </div>
                <script>
                    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 10,
                            time: 1000
                        });
                    });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section  class="about-section-two white-bg" id="testimonial">
    <div class="container">
      <div class="row">
        <div class="m-text-head text-center">
          <h2 class="m-text-title">Testimonial</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img src="assets/images/test-image.png" alt="testimonial-image">
              </a>
            </div>
            <div class="media-body">
              <a href="#"><h4 class="media-heading">Jonathon Andrew</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section  class="about-section-two">
    <div class="gray-bg tb-padd-35">
      <div class="container">
        <div class="row">
          <div class="brand-wrap clearfix owl-carousel owl-theme">
            <div class="brand-wrap-col">
              <div class="brand-image">
                <a href="#"><img src="assets/images/brand1.png" alt="brand img"></a>
              </div>
            </div>
            <div class="brand-wrap-col">
              <div class="brand-image">
                <a href="#"><img src="assets/images/brand2.png" alt="brand img"></a>
              </div>
            </div>
            <div class="brand-wrap-col">
              <div class="brand-image">
                <a href="#"><img src="assets/images/brand3.png" alt="brand img"></a>
              </div>
            </div>
            <div class="brand-wrap-col">
              <div class="brand-image">
                <a href="#"><img src="assets/images/brand4.png" alt="brand img"></a>
              </div>
            </div>
            <div class="brand-wrap-col">
              <div class="brand-image">
                <a href="#"><img src="assets/images/brand5.png" alt="brand img"></a>
              </div>
            </div>

          </div>
          <script>
                $('.brand-wrap').owlCarousel({
                    items: 5,
                    loop: true,
                    dots: false,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        480: {
                            items: 2,
                        },
                        768: {
                            items: 3,
                        },
                        992: {
                            items: 4,
                        },
                        1167: {
                            items: 5,
                        },
                        1366: {
                            items: 5,
                        },
                        1400: {
                            items: 5,
                        }
                    }
                });
            </script>
        </div>
      </div>
    </div>
  </section>
</div>
