<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>SERVICES</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>About us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="cta-block">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7">
          <div class="col-inner">
            <div class="code-review">
              <p>Have a project in mind? We would love to hear from you! </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-5">
          <div class="col-inner">
            <div class="action-btn offspace-10 pull-right">
              <a class="flat-button" href="#">Get in touch with us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="quality-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
          <div class="title-head">
            <h2>WE PROVIDE QUALITY</h2>
          </div>
          <p>We provide custom business software solutions for mutliple domain industries. It includes complete SDLC through analysis of the requirement, architecture design, implementation, testing and deployment. Our team is specialized in custom development of web and mobile applications for business. We also provide service in the multi-dimensional data management services through our experts advance skills of data analytics. </p>
          <p class="hidden-sm">In todays era of smart phone, our expertise in mobile development provide unique entrprise solution based on individual need. Let us guide you through various area where our expertise can help you to achieve successful solution that add-on value to your business based on your requirement.</p>
          <!--<div class="quality-detail">
              <h2 class="q-name">remon D,cruz</h2>
              <h4 class="q-post">CEO OF COMPANY</h4>
          </div>-->
        </div>
        <div class="col-md-5 col-lg-offset-1 col-lg-4 col-sm-6 col-xs-12">
          <div class="quality-content">
            <div class="quality-img">
              <img src="assets/images/qi.jpg" alt="quality-image" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="tv-white-bg service-area">
    <div class="container">
      <!--<div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="m-text-head text-center">
                  <h2 class="m-text-title">Our Services</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores, quam tenetur vero.</p>
              </div>
          </div>
      </div>-->
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-linegraph"></i>
              <h2><a href="web-development.html">Web development</a></h2>
            </div>
            <p>Xwhizz provide reliable, elegant, scalable custom web solution for wide range of business outcomes you deserve.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-browser"></i>
              <h2>Web and UI Design</h2>
            </div>
            <p>We create optimise website design for effective use and GUI interface compatible, scalable and flexible with differnet browsers and platforms.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-briefcase"></i>
              <h2>Quality Assurance</h2>
            </div>
            <p>Hands on QA expertise dedicated team through out entire development cycle.We perfom testing for windows, web and mobile application includes front end GUI testing, functional testing, integration testing and </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-desktop"></i>
              <h2>Grapic Design</h2>
            </div>
            <p>We create logos, brochures, banners, and advertisement that makes your business stand out among your competition.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-mobile"></i>
              <h2>Mobile App Development and Design</h2>
            </div>
            <p>Custom End-to-end development of mobile applications based on individual requirement for consumer-facing or corporate. We develop and design the iOS and Android mobile clients application.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="tv-service-block">
            <div class="tv-service-top-head">
              <i class="icon-briefcase"></i>
              <h2>Custom software development</h2>
            </div>
            <p>Our expertise in various technologies and domain provide reliable, engaging and productive custom software solutions include integration of different aspects of business with streamlining the various operations.</p>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-6">
            <div class="tv-service-block">
                <div class="tv-service-top-head">
                    <i class="icon-camera"></i>
                    <h2>Server Administrator and maintenance</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor a lectus at gravida. Aliquam pharetra, risus et tempor aliquam</p>
            </div>
        </div>-->
      </div>
    </div>
  </section>
  <section id="call-to-action">
    <div class="theme-bg tb-padd-80 white-text text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2 class="title">SO WHAT YOU THINK ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
              <a href="contact.html" class="btn btn-default btn-contact">Contact With Me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
