<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="first-slide" src="assets/images/banner-web-design.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <!--<h1>Example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1>Custom Web Development</h1>
  <p class="lead">Whether revenue driving online business or personal web portal, the team of expert programmers code </p>
  <p class="lead">websites in the open source environment that is easily interpreted by intended audience.</p>
</div>

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/software-architecture.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Custom PHP Web Development</h2>
      <p>We deliver responsive and custom php solutions as per your unique needs that deliver the mark of excellence in the web industry.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/ux.png" alt="Generic placeholder image" width="140" height="140">
      <h2>E-commerce Solutions</h2>
      <p>We build e-commerce webstores that make buying process as easy and enjoyable as possible for your customers. Our e-commerce solutions assure to generate the utmost outcomes.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="assets/images/qa.png" alt="Generic placeholder image" width="140" height="140">
      <h2>CMS Customization </h2>
      <p>With CMS we specialize in developing highly stable and content rich website to match trending aspects. We customize open source CMS applications where you have superior control over the content of your website.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
