<div class="img-inner-top">
  <img src="assets/images/php_inner_banner.png">
</div>

<div class="container">
  <h2 class="display-4">Loreum epsum</h2>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed rutrum dolor, nec dictum lorem. Aenean malesuada id leo a suscipit. Quisque egestas nulla a accumsan tincidunt. Mauris scelerisque sapien quis nulla aliquam, quis egestas urna tincidunt. Etiam mollis felis ut urna laoreet varius. Etiam ac dignissim risus. Vestibulum imperdiet odio eu vehicula tempus. Integer at ipsum sapien. Quisque placerat dictum turpis, in posuere augue lobortis vitae.
  </p>
  <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
  <ul>
    <li>Experience in designing and implementing test automation frameworks (modular, data-driven, keyword-driven, hybrid, and descriptive).</li>
    <li>Technology expertise in implementing custom automation harness and utilities in various languages such as C#, Java, Perl, Ruby, and Python.</li>
    <li>Proven expertise in industry’s leading testing tools such as HP QuickTest Pro, IBM Rational Robot, MS Visual Studio, TestComplete, SilkTest, and eggPlant.</li>
    <li>Strong capabilities in emerging open-source testing tools such as Selenium, Watir, Sahi.</li>
    <li>Strong competencies in technologies such as BDD (Cucumber, RSpec, SpecFlow), JavaScript testing (Jasmine, Mocha, Karma, and Protractor).</li>
    <li>Extensive skills in mobile test automation using both licensed and open-source solutions such as Robotium, Appium, Calabash, and MonkeyTalk.</li>
    <li>Expertise in integration of test automation with continuous integration (CI) tools (Jenkins, TFS, and TeamCity).</li>
    <li>Strong technology leadership and consultancy by QA industry veterans.</li>
  </ul>
</div>
