<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>Portfolio</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>Portfolio</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------portfolio----------------------->
  <section id="portfolio" class="white-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="m-text-head text-center">
            <h2 class="m-text-title">Portfolio</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores, quam tenetur vero.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="filter-wrapper col-xs-12 text-center mb-30">
          <div class="portfolio-filter filter-options">
            <button class="active" data-group="all">all</button>
            <button data-group="web">web design</button>
            <button data-filter=".uiux" data-group="uiux">UI &amp; UX</button>
            <button data-group="branding">branding</button>
            <button data-group="print">print</button>
          </div>
        </div>
        <div id="grid" class="portfolio-grid  my-shuffle-container my-shuffle">
          <div class="item web picture-item  col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["web"]'>
            <a href="assets/images/port1.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port1.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item uiux picture-item  col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["uiux"]'>
            <a href="assets/images/port2.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port2.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item branding picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["branding"]'>
            <a href="assets/images/port3.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port3.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item uiux picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["uiux"]'>
            <a href="assets/images/port4.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port4.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item web picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["web"]'>
            <a href="assets/images/port5.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port5.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item print picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["print"]'>
            <a href="assets/images/port6.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port6.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item branding picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["branding"]'>
            <a href="assets/images/port7.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port7.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item web picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["web"]'>
            <a href="assets/images/port8.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port8.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item print picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["print"]'>
            <a href="assets/images/port9.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port9.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item uiux picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["uiux"]'>
            <a href="assets/images/port10.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port10.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item branding picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["branding"]'>
            <a href="assets/images/port11.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port11.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <div class="item print picture-item col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30" data-groups='["print"]'>
            <a href="assets/images/port12.jpg" data-image-popup="" class="single-portfolio">
              <img src="assets/images/port12.jpg" alt="">
              <div class="content">
                <h4 class="title">Lorem Ipsum</h4>
                <span class="cat">Web Design</span>
              </div>
            </a>
          </div>
          <!--<div class="my-sizer-element"></div>-->
        </div>
      </div>
    </div>
  </section>

  <section id="call-to-action">
    <div class="theme-bg tb-padd-80 white-text text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2 class="title">SO WHAT YOU THINK ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
              <a href="contact.html" class="btn btn-default btn-contact">Contact With Me</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
