/* Landscape phones and smaller */

@media only screen and (min-width: 1200px) and (max-width: 1300px) {}
@media only screen and (max-width: 1199px) {
}
@media only screen and (min-width: 991px) {
    #blog-rightsidebar {
        padding-left: 45px;
    }
}
@media only screen and (min-width: 768px) {
    .feature-project .projects-list .row > div:nth-of-type(4n+1) {
        clear: left;
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-120 {
        padding-top: 40px;
    }
    .slider-active .slider-text h2 {
        font-size: 45px;
    }
    .projects-list {
        padding-left: 8px;
        padding-right: 7px;
    }
    .projects-list .row > div {
        padding-left: 7px;
        padding-right: 8px;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-nav li a {

        padding-left: 8px;
        padding-right: 8px;
    }
    h1 {
        font-size: 25px;
    }
    .banner-description {
        margin-top: 50px;
    }
    .banner-description h1 {
        margin-bottom: 30px;
    }
    .banner-description p {
        font-size: 16px;
        line-height: 1.5em;
    }
    .code-review > p {
        font-size: 18px;
        line-height: 1.65;
    }
    .flat-button {
        font-size: 16px;
    }
    .flat-button:hover {
        padding-left: 35px;
        padding-right: 35px;
    }
    .title-head h2 {
        font-size: 22px;
    }
    .projects-list .project-title {
        font-size: 16px;
    }
    .projects-list .project-description {
        font-size: 13px;
        line-height: 22px;
    }
    .blog-title {
        font-size: 14px;
    }
    .footer-padd-80 {
        padding-bottom: 40px;
    }
    .footer-link h4, .footer-contacts h4 {
        font-size: 15px;
        line-height: 20px;
    }
    .footer-link ul li a, .footer-contacts ul li a {
        font-size: 14px;
    }
    .footer-list {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-list > div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .contact-highlight {
        padding: 2px 5px;
    }
    .single-team {
        margin-left: auto;
        margin-right: auto;
        max-width: 270px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 767px) {
    section {
        padding-top: 60px;
    }
    .sticky-menu {
        background-color: #22b663;
    }
    .home-sliders {
        padding: 25px 0;
    }
    .pt-120 {
        padding-top: 15px;
    }
    .slider-text h2 {
        font-size: 25px !important;
        line-height: 50px;
    }
    a.button {
        padding: 10px 20px;
    }
    .slider-img > img {
        margin: 40px 0;
    }
    .navbar-toggle {
        border-radius: 0;
        box-shadow: none;
        margin: -25px 0 2px;
        padding: 0;
    }
    .navbar-nav > li {
        display: block;
    }
    .navbar-nav li a::after {
        display: none;
    }
    .navbar-nav > li > a {
        color: #151515;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .nav.navbar-nav {
        background-color: #fff;
        margin-top: 5px;
        padding: 15px 0 25px 0;
    }
    h1 {
        font-size: 22px;
    }
    .banner-description {
        margin-top: 20px;
    }
    .banner-description h1 {
        margin-bottom: 25px;
    }
    .banner-description p, .title-head .col-inner > p {
        font-size: 15px;
    }
    .code-review > p {
        font-size: 16px;
    }
    .title-head h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .projects-list .project-category {
        margin-bottom: 15px;
    }
    .projects-list .project-description {
        font-size: 14px;
    }
    .projects-list .col-inner {
        text-align: center;
    }
    #back-to-top {
        width: 50px;
        height: 50px;
        line-height: 46px;
        font-size: 22px;
    }
    .footer-logo, .footer-link, .footer-contacts {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-link h4, .footer-contacts h4 {
        font-size: 18px;
    }
    .m-text-title {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .m-text-head {
        width: 90%;
    }
    .si-wrapper h4 {
        font-size: 17px;
    }
    .panel-title {
        font-size: 13px;
    }
    .blog-post-inner-wrapper .entry-title {
        font-size: 18px;
    }
    .entry-content p, .post-author-content, .post-author-title {
        font-size: 15px;
    }
    .m-text-title::before, .m-text-title::after {
        width: 50px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .blog-posts .image-hover-effect-01 {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    /*    .footer-list > div {
            float: left;
            width: 50%;
        }*/
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .width-50 {
        float: left;
        width: 50%;
    }
    .feature-project .image-hover-effect-01 {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
    .feature-project .projects-list .row > div:nth-of-type(2n+1),  .blog-posts .projects-list .row > div:nth-of-type(2n+1) {
        clear: left;
    }

}
@media only screen and (max-width: 479px) {
    .slide-down-btn {
        bottom: 25%;
    }
    .blog-post-inner-wrapper .entry-title {
        font-size: 16px;
    }
    .entry-content p, .post-author-content {
        font-size: 14px;
    }

}
@media only screen and (min-device-width: 480px) 
and (max-device-width: 640px) 
and (orientation: landscape) {
    .slide-down-btn {
        /*bottom: 50%;*/
    }
}
@media only screen and (max-width: 600px) {
    .feature-project .image-hover-effect-01 {
        max-width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }
    .banner-description p, .title-head .col-inner > p {
        font-size: 14px;
    }
    .code-review > p {
        font-size: 15px;
    }
    .title-head h2 {
        font-size: 19px;
    }
    .m-text-head {
        width: 95%;
    }
    .panel-title {
        font-size: 12px;
    }
}