<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
<div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>BLOG</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>Blog</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="blog-posts">
    <div class="blog-posts-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-inner">
              <div class="title-head">
                <h2>Latest blog posts</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="projects-list offspace-15">
              <div class="row">
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b1.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">We have replaced by new design</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b2.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">How to Optimize Your Emails</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b3.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">We have replaced by new design</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b3.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">We have replaced by new design</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b1.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">We have replaced by new design</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
                <div class="col-sm-4 width-50">
                  <div class="col-inner">
                    <div class="image-hover-effect-01">
                      <div class="blog-image">
                        <a href="#"><img src="assets/images/b2.jpg" class="img-responsive" alt="blog-image"></a>
                      </div>
                      <div class="blog-image-back">
                        <div class="blog-image-arrow">
                          <div class="blog-image-inner">
                            <div class="blog-port-action">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h2 class="blog-title"><a href="#">How to Optimize Your Emails</a></h2>
                    <span class="blog-date">feb 17, 2016</span>
                    <p class="blog-description">Eu ferri brute mentitum vel. Pro oporteat persequeris ex, menandri deterruisset ei mei. An omnium fuisset pro oporteat...........</p>
                    <div class="ref-link"><a>Read more...</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
