<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
<div class="slider-active owl-carousel owl-theme">
  <div style="background-image: url(assets/images/bg-1.png);" class="sliders-responsive main-slider-area bg-oapcity-40 slider-active-fix">
    <div class="container">
      <div class="row">
        <div class="home-sliders clearfix mid-mrg">
          <div class="col-md-8 col-sm-9">
            <div class="top-text pt-65 mid-mrg">
              <div class="slider-text">
                <p>We combine innovative ideas with</p>
                <h2>Global Technology</h2>
                <p>At Xwhizz Technology we provide business solutions to move faster</p>
                <!--<div class="button-set">
                  <a href="#" class="button">
                    DOWNLOAD
                  </a>
                  <a href="#" class="button default">
                    learn more
                  </a>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3">
            <div class="slider-img">
              <img class="img-responsive" alt="phone-image" src="assets/images/phone-image.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/bg-2.png)" class="sliders-responsive main-slider-area bg-oapcity-40 slider-active-fix">
    <div class="container">
      <div class="row">
        <div class="home-sliders clearfix mid-mrg">
          <div class="col-md-8 col-sm-9">
            <div class="top-text pt-65 mid-mrg">
              <div class="slider-text">
                <p>Build Faster</p>
                <h2>Better Software</h2>
                <p>At Xwhizz Technology We Live To Solve Problems With Software.</p>
                <!--<div class="button-set">
                  <a href="#" class="button">
                    DOWNLOAD
                  </a>
                  <a href="#" class="button default">
                    learn more
                  </a>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3">
            <div class="slider-img">
              <img class="img-responsive" alt="phone-image" src="assets/images/phone-image.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background-image: url(assets/images/bg-3.png);" class="sliders-responsive main-slider-area bg-oapcity-40 slider-active-fix">
    <div class="container">
      <div class="row">
        <div class="home-sliders clearfix mid-mrg">
          <div class="col-md-8 col-sm-9">
            <div class="top-text pt-65 mid-mrg">
              <div class="slider-text">
                <p>SIMPLE SOLUTIONS TO</p>
                <h2>Complex Problems</h2>
                <p>We help great companies design, build, and run amazing software products and services</p>
                <!--<div class="button-set">
                  <a href="#" class="button">
                    DOWNLOAD
                  </a>
                  <a href="#" class="button default">
                    learn more
                  </a>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3">
            <div class="slider-img">
              <img class="img-responsive" alt="phone-image" src="assets/images/phone-image.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="scroll-down">
  <div class="slide-down-btn hidden-xs">
    <a href="" onclick="$('body,html').animate({scrollTop: $('#latest-event').offset().top}, 800);
                           return false;"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>
  </div>
</div>-->

<!--<section class="latest-event-block" id="latest-event">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="col-inner">
          <div class="code-review">
            <p> Need an expert code audit or in-depth security analysis for your website or mobile app? Try our source code review service. It's free and performed by our best engineers!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-5">
        <div class="col-inner">
          <div class="action-btn offspace-10 pull-right">
            <a class="flat-button" href="#">Request a free code review</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

<section class="about-section-two white-bg" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="m-text-head text-center">
        <h2 class="m-text-title">We Serve What is Best for your Business</h2>
        <p>Xwhizz is an software solution company dedicated in delivering subtle Website Development, CMS Development, Ecommerce Web Development, Web Design, Mobile Application and Internet Marketing Solutions.</p>
      </div>
    </div>
  </div>
</section>
<section class="feature-project">
  <div class="feature-project-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-inner">
            <div class="title-head">
              <h2>Our Expertise</h2>
              <!--<div class="row">
                <div class="col-sm-8">
                  <div class="col-inner">
                    <p>
                      Xwhizz is a software development company with an ample portfolio of custom websites and mobile apps. See our latest works:
                    </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-inner pull-right">
                    <a class="flat-button" href="#">All projects</a>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="projects-list offspace-15">
            <div class="row">
              <div class="col-sm-3 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="project-image">
                      <a href="#"><img src="assets/images/s1.jpeg" class="img-responsive" alt="service-image"></a>
                    </div>
                    <!--<div class="project-image-back">
                      <div class="project-image-arrow">
                        <div class="project-image-inner">
                          <div class="project-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="project-title"><a href="#">Web And UI Design</a></h2>
                  <div class="project-category">Inventing Design</div>
                  <div class="project-description">
                    The visitor’s first impression to your website. A well executed website needs innovative designing with compelling UX and UI design.
                  </div>
                </div>
              </div>
              <div class="col-sm-3 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="project-image">
                      <a href="#"><img src="assets/images/s2.jpeg" class="img-responsive" alt="service-image"></a>
                    </div>
                    <!--<div class="project-image-back">
                      <div class="project-image-arrow">
                        <div class="project-image-inner">
                          <div class="project-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="project-title"><a href="#">Web Development</a></h2>
                  <div class="project-category">Conversion of Ideas into Easy-to-use Solutions</div>
                  <div class="project-description">
                    We build websites with modern technologies and open source tools, that generates revenue and adhere to your needs.
                  </div>
                </div>
              </div>
              <div class="col-sm-3 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="project-image">
                      <a href="#"><img src="assets/images/s1.jpeg" class="img-responsive" alt="service-image"></a>
                    </div>
                    <!--<div class="project-image-back">
                      <div class="project-image-arrow">
                        <div class="project-image-inner">
                          <div class="project-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="project-title"><a href="#">Internet Marketing</a></h2>
                  <div class="project-category">Optimizing leads to success</div>
                  <div class="project-description">
                    To establish your presence, build visibility and generate sales for your business.
                  </div>
                </div>
              </div>
              <div class="col-sm-3 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="project-image">
                      <a href="#"><img src="assets/images/s2.jpeg" class="img-responsive" alt="service-image"></a>
                    </div>
                    <!--<div class="project-image-back">
                      <div class="project-image-arrow">
                        <div class="project-image-inner">
                          <div class="project-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="project-title"><a href="#">Grapic Design</a></h2>
                  <div class="project-category">Inventing Design</div>
                  <div class="project-description">
                    We create logos, brochures, banners, and advertisement that makes your business stand out among your competition.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-posts">
  <div class="blog-posts-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-inner">
            <div class="title-head">
              <h2>Why work with us</h2>
              <!--<div class="row">
                <div class="col-sm-8">
                  <div class="col-inner">
                    <p>Check our blog where we talk about technologies, custom software development, trends in IT outsourcing services, managing offshore agile teams and bespoke projects we work on.  </p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="col-inner pull-right">
                    <a class="flat-button" href="#">All blog posts</a>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="projects-list offspace-15">
            <div class="row">
              <div class="col-sm-4 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="blog-image">
                      <a href="#"><img src="assets/images/b1.jpg" class="img-responsive" alt="blog-image"></a>
                    </div>
                    <!--<div class="blog-image-back">
                      <div class="blog-image-arrow">
                        <div class="blog-image-inner">
                          <div class="blog-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="blog-title"><a href="#">Supreme Satisfaction</a></h2>
                  <!--<span class="blog-date">feb 17, 2016</span>-->
                  <p class="blog-description">We satisfy customers with top-notch quality work and result driven work approach. We make best efforts to satisfy our valuable clients which leads to have a long term relationship with them.</p>
                </div>
              </div>
              <div class="col-sm-4 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="blog-image">
                      <a href="#"><img src="assets/images/b2.jpg" class="img-responsive" alt="blog-image"></a>
                    </div>
                    <!--<div class="blog-image-back">
                      <div class="blog-image-arrow">
                        <div class="blog-image-inner">
                          <div class="blog-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="blog-title"><a href="#">On time assistance</a></h2>
                  <!--<span class="blog-date">feb 17, 2016</span>-->
                  <p class="blog-description">We have adopt rapid development methodology and strategies to deliver work rapidly on accomplish time yet keeping quality work high credential.</p>
                </div>
              </div>
              <div class="col-sm-4 width-50">
                <div class="col-inner">
                  <div class="image-hover-effect-01">
                    <div class="blog-image">
                      <a href="#"><img src="assets/images/b3.jpg" class="img-responsive" alt="blog-image"></a>
                    </div>
                    <!--<div class="blog-image-back">
                      <div class="blog-image-arrow">
                        <div class="blog-image-inner">
                          <div class="blog-port-action">
                            <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>-->
                  </div>
                  <h2 class="blog-title"><a href="#">Project Payment</a></h2>
                  <!--<span class="blog-date">feb 17, 2016</span>-->
                  <p class="blog-description">We deliver projects with flexible pricing policy at affordable rates. Our transparent pricing policy revolves on factors and are compatible with the industry standards.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
