<div id="loader" class="pageload-overlay" data-opening="M 40,-65 145,80 -65,80 40,-65" data-closing="m 40,-65 0,0 L -65,80 40,-65">
  <svg  width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
    <path d="M 40,-65 145,80 40,-65"/>
  </svg>
</div>
<!-- /pageload-overlay -->
  <div class="breadcrumbs image-space overlay-theme-col" style="background-image: url(assets/images/section-banner.jpeg)">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs-inner">
            <div class="breadcrumbs-title">
              <h1>OUR TEAM</h1>
            </div>
            <div class="breadcrumbs-menu">
              <ul class="list-inline">
                <li><a href="index.html">Home /</a></li>
                <li>Our team</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="quality-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12" >
          <div class="title-head">
            <h2>RABERT DONATHAN</h2>
            <h5 class="team-post">graphic designer</h5>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe debitis dignissimos reprehenderit officia porro cum odio ipsum veritatis provident magni in culpa a eum dolores magnam est, unde voluptatem eligendi aperiam. Temporibus dolore, in excepturi repellat odit aut veritatis, obcaecati id sint recusandae suscipit ullam reprehenderit assumenda nobis distinctio iste vero repellendus quas atque facere consequuntur. Error harum, ex quisquam!</p>
          <p class="hidden-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati iusto fugit magni repellendus porro voluptates totam laboriosam officiis nobis aut odio molestiae asperiores, alias, adipisci dolorum debitis ex earum quas.</p>
        </div>
        <div class="col-md-5 col-lg-offset-1 col-lg-4 col-sm-6 col-xs-12">
          <div class="quality-content">
            <div class="quality-img">
              <img src="assets/images/qi.jpg" alt="quality-image" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tv-white-bg service-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="m-text-head text-center">
            <h2 class="m-text-title">MEET OUR TEAM</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt suscipit, quibusdam aliquid voluptates, blanditiis quis quae. Maiores, quam tenetur vero.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="team-wrap clearfix">
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="team-front">
                <div class="team-thumb">
                  <img src="assets/images/team1.jpg" alt="team-image" class="img-responsive">
                </div>
                <div class="team-front-title">
                  <h4><a href="#">Emilia Harison</a></h4>
                  <p>Email Writer</p>
                </div>
              </div>
              <div class="team-back">
                <div class="team-back-inner">
                  <div class="global-table">
                    <div class="global-cell">
                      <div class="team-back-title">
                        <h4><a href="#">Emilia Harison</a></h4>
                        <p>Email Writer</p>
                      </div>
                      <div class="team-social">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="team-front">
                <div class="team-thumb">
                  <img src="assets/images/team2.jpg" alt="team-image" class="img-responsive">
                </div>
                <div class="team-front-title">
                  <h4><a href="#">Emilia Harison</a></h4>
                  <p>Email Writer</p>
                </div>
              </div>
              <div class="team-back">
                <div class="team-back-inner">
                  <div class="global-table">
                    <div class="global-cell">
                      <div class="team-back-title">
                        <h4><a href="#">Emilia Harison</a></h4>
                        <p>Email Writer</p>
                      </div>
                      <div class="team-social">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="team-front">
                <div class="team-thumb">
                  <img src="assets/images/team3.jpg" alt="team-image" class="img-responsive">
                </div>
                <div class="team-front-title">
                  <h4><a href="#">Emilia Harison</a></h4>
                  <p>Email Writer</p>
                </div>
              </div>
              <div class="team-back">
                <div class="team-back-inner">
                  <div class="global-table">
                    <div class="global-cell">
                      <div class="team-back-title">
                        <h4><a href="#">Emilia Harison</a></h4>
                        <p>Email Writer</p>
                      </div>
                      <div class="team-social">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="single-team">
              <div class="team-front">
                <div class="team-thumb">
                  <img src="assets/images/team4.jpg" alt="team-image" class="img-responsive">
                </div>
                <div class="team-front-title">
                  <h4><a href="#">Emilia Harison</a></h4>
                  <p>Email Writer</p>
                </div>
              </div>
              <div class="team-back">
                <div class="team-back-inner">
                  <div class="global-table">
                    <div class="global-cell">
                      <div class="team-back-title">
                        <h4><a href="#">Emilia Harison</a></h4>
                        <p>Email Writer</p>
                      </div>
                      <div class="team-social">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-behance"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section id="call-to-action">
    <div class="theme-bg tb-padd-80 white-text text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2 class="title">SO WHAT YOU THINK ?</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
              <a href="contact.html" class="btn btn-default btn-contact">Contact With Me</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
